BODY {
	PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; COLOR: #666666 ; LINE-HEIGHT: 1.166; PADDING-TOP: 0px; FONT-FAMILY: Arial,sans-serif; BACKGROUND-IMAGE: url(http://www.floridadisaster.org/images/bg_b.gif);
	
	
	
}
#CenterBox {
	width:1000px;
	margin:0px auto; /* Right and left margin widths set to "auto" */
	text-align:left; /* Counteract to IE5/Win Hack */
	padding:1px;
	border:1px solid #cccccc;
	background-color:#ffffff;
	}
	 
	.NewsBox  {

	BACKGROUND-IMAGE: url(http://www.floridadisaster.org/images/H3gradient_lightblue.jpg); 	BORDER-LEFT: #CCCCCC 1px solid; BORDER-Right: #CCCCCC 1px solid; BORDER-BOTTOM: #CCCCCC  1px solid; BORDER-TOP: #CCCCCC 1px solid; PADDING-LEFT: 4px; PADDING-RIGHT: 4px;
	} 
	 
	 
	 
A {
	COLOR: #006699; TEXT-DECORATION: bold
}
A:link {
	FONT-WEIGHT: 500; COLOR: #000066; TEXT-DECORATION: bold
}
A:visited {
	COLOR: #000066; TEXT-DECORATION: bold
}
A:hover {
	COLOR: #fe0000; TEXT-DECORATION: bold
}
H1 {
	PADDING-LEFT: 0px; FONT-SIZE: 120%; PADDING-BOTTOM: 0px; MARGIN: 0px; COLOR: #333333; PADDING-TOP: 0px; FONT-FAMILY: Verdana,Arial,sans-serif

}
H3{
	BACKGROUND-IMAGE: url(http://www.floridadisaster.org/images/bg/H3gradient_drkblue.gif); 	PADDING-LEFT: 2px; FONT-SIZE: 100%; PADDING-BOTTOM: 3px; MARGIN: 0px; COLOR: #000074; PADDING-TOP: 3px; BORDER-LEFT: #FFFFFF 1px solid; BORDER-Right: #CCCCCC 1px solid; BORDER-BOTTOM: #CCCCCC  1px solid; BORDER-TOP: # #FFFFFF 1px solid; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif
	}
H5 {
	BACKGROUND-IMAGE: url(http://www.floridadisaster.org/images/H3gradient_red.jpg); 	PADDING-LEFT: 2px; FONT-SIZE: 100%; PADDING-BOTTOM: 3px; MARGIN: 0px; COLOR: #FFFFFF; PADDING-TOP: 3px; BORDER-LEFT: #FFFFFF 1px solid; BORDER-Right: #CCCCCC 1px solid; BORDER-BOTTOM: #CCCCCC  1px solid; BORDER-TOP: #FFFFFF 1px solid; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif}
	
	H6 {
	BACKGROUND-IMAGE: url(http://www.floridadisaster.org/images/H3gradient_yellow.jpg); 	PADDING-LEFT: 2px; FONT-SIZE: 100%; PADDING-BOTTOM: 3px; MARGIN: 0px; COLOR: #FFFFFF; PADDING-TOP: 3px; BORDER-LEFT: #CCCCCC 1px solid; BORDER-Right: #CCCCCC 1px solid; BORDER-BOTTOM: #CCCCCC  1px solid; BORDER-TOP: #CCCCCC 1px solid; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif
}
	H2 {
	BACKGROUND-IMAGE: url(http://www.floridadisaster.org/images/H3gradient_blue.jpg); 	PADDING-LEFT: 2px; FONT-SIZE: 100%; PADDING-BOTTOM: 3px; MARGIN: 0px; COLOR: #FFFFFF; PADDING-TOP: 3px; BORDER-LEFT: #FFFFFF 1px solid; BORDER-Right: #CCCCCC 1px solid; BORDER-BOTTOM: #CCCCCC  1px solid; BORDER-TOP: #FFFFFF 1px solid; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif
}
H33{
	BBACKGROUND-COLOR: #ffffff; PADDING-LEFT: 0px; FONT-SIZE: 100%; PADDING-BOTTOM: 3px; MARGIN: 0px; COLOR: #000000; PADDING-TOP: 3px; BORDER-BOTTOM: #FF0000 1px dotted; BORDER-TOP: #FF0000  1px dotted; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif
}
H4  {
	BACKGROUND-IMAGE: url(http://www.floridadisaster.org/images/H3gradient_lightblue.jpg); 	PADDING-LEFT: 2px; FONT-SIZE: 100%; PADDING-BOTTOM: 3px; MARGIN: 0px; COLOR: #FFFFFF; PADDING-TOP: 3px; BORDER-LEFT: #CCCCCC 1px solid; BORDER-Right: #CCCCCC 1px solid; BORDER-BOTTOM: #CCCCCC  1px solid; BORDER-TOP: #CCCCCC 1px solid; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif}

UL{
	 list-style-image: url(http://www.floridadisaster.org/images/arrow_greybullet.gif)	
	}

ULPriority {
	LIST-STYLE-IMAGE: url(http://www.floridadisaster.org/images/arrow_red.jpg)	
}

ULphone {
	LIST-STYLE-IMAGE: url(http://www.floridadisaster.org/images/phone.jpg)	
}

UL UL {
	LIST-STYLE-IMAGE: url(http://www.floridadisaster.org/images/arrow_red.jpg)	
}
UL UL UL {
	LIST-STYLE-TYPE: none
}
LABEL {
	FONT-WEIGHT: bold; FONT-SIZE: 100%; COLOR: #334d55; FONT-FAMILY: Arial,sans-serif
}
#masthead {
	BORDER-TOP: #cccccc 0px dotted; PADDING-LEFT: 0px; BACKGROUND-IMAGE: none; PADDING-BOTTOM: 0px; WIDTH: 100%; PADDING-TOP: 2px; BORDER-BOTTOM: #cccccc 0px dotted; BACKGROUND-REPEAT: no-repeat
}
#navBar {
	PADDING-LEFT: 0px; FLOAT: right; PADDING-BOTTOM: 0px; MARGIN: 0px; BORDER-LEFT: #e2e2e2 1px solid; WIDTH: 20%; PADDING-TOP: 0px; BORDER-BOTTOM: #cccccc 1px solid; BACKGROUND-COLOR: #FFFFFF
}
#headlines {
	BACKGROUND-COLOR: #CCCCCC; BORDER-RIGHT: #e2e2e2 1px solid; PADDING-RIGHT: 5px; FLOAT: left; WIDTH: 19%; PADDING-TOP: 0px; BORDER-BOTTOM: #cccccc 1px solid
}
#content {
	FLOAT: left; WIDTH: 55%; PADDING-LEFT: 10px;
}
#siteName {
	PADDING-LEFT: 10px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px
}
#globalNav {
	PADDING-LEFT: 10px; PADDING-BOTTOM: 5px; COLOR: #cccccc; PADDING-TOP: 0px; BORDER-BOTTOM: #ccc 0px dotted
}
#globalNav IMG {
	DISPLAY: block
}
#globalNav A {
	PADDING-RIGHT: 4px; PADDING-LEFT: 0px; FONT-SIZE: 90%; PADDING-BOTTOM: 0px; PADDING-TOP: 0px
}
#pageName {
	PADDING-LEFT: 10px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px
}
#breadCrumb {
	PADDING-LEFT: 10px; FONT-SIZE: 80%; PADDING-BOTTOM: 0px; PADDING-TOP: 2px
}
.feature {
	PADDING-LEFT: 5px; PADDING-RIGHT: 5px; FONT-SIZE: 80%; COLOR: #666666 ; LINE-HEIGHT: 140%; PADDING-TOP: 5px; FONT-FAMILY: Verdana; TEXT-DECORATION: none; 
	 
	 }
.featuretop {
	 PADDING-LEFT: 10px; FONT-SIZE: 80%; COLOR: #666666 ; LINE-HEIGHT: 145%; PADDING-TOP: 5px; FONT-FAMILY: Verdana; TEXT-DECORATION: none; BACKGROUND-IMAGE: url(http://www.floridadisaster.org/images/featureshadow.jpg)
}
.feature IMG {
	PADDING-RIGHT: 10px; PADDING-LEFT: 0px; FLOAT: left; PADDING-BOTTOM: 0px; PADDING-TOP: 10px
}
.story {
	PADDING-LEFT: 10px; FONT-SIZE: 80%; COLOR: #000000; LINE-HEIGHT: 120%; PADDING-TOP: 10px; FONT-FAMILY: Verdana; TEXT-DECORATION: none
}
.story P {
	PADDING-LEFT: 0px; PADDING-BOTTOM: 10px; PADDING-TOP: 0px
}
#siteInfo {
	CLEAR: both; BORDER-RIGHT: #cccccc 0px dotted; PADDING-RIGHT: 0px; BORDER-TOP: #cccccc 0px dotted; PADDING-LEFT: 0px; FONT-SIZE: 75%; PADDING-BOTTOM: 0px; BORDER-LEFT: #cccccc 0px dotted; COLOR: #cccccc; PADDING-TOP: 0px; BORDER-BOTTOM: #cccccc 0px dotted; BACKGROUND-COLOR: #ffffff
}
#siteInfo IMG {
	PADDING-RIGHT: 4px; PADDING-LEFT: 10px; PADDING-BOTTOM: 4px; VERTICAL-ALIGN: middle; PADDING-TOP: 4px
}
#search {
	PADDING-LEFT: 10px; FONT-SIZE: 70%; PADDING-BOTTOM: 5px; PADDING-TOP: 0px; BORDER-BOTTOM: #cccccc 0px dotted
}
#search FORM {
	PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px
}
#search LABEL {
	DISPLAY: block; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px
}
#navBar UL A:link {
	DISPLAY: block
}
#navBar UL A:visited {
	DISPLAY: block 
}
#navBar UL {
	PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px; LIST-STYLE-TYPE: none
}
#navBar LI {
	BORDER-BOTTOM: #ffffff 1px dotted
}
UNKNOWN {
	
}
#sectionLinks {
	PADDING-TOP: 0px; BORDER-BOTTOM: #ffffff 0px dotted
}
#sectionLinks A {
	PADDING-RIGHT: 1px; DISPLAY: block; PADDING-LEFT: 10px; PADDING-BOTTOM: 0px; COLOR: #000066; PADDING-TOP: 0px; BORDER-BOTTOM: #cccccc 1px dotted
}
.top {
	PADDING-RIGHT: 1px; DISPLAY: block; PADDING-LEFT: 10px; PADDING-BOTTOM: 0px; COLOR: #000066; PADDING-TOP: 0px; BORDER-BOTTOM: #cccccc 1px dotted
}
#toplinks A {
	PADDING-RIGHT: 1px; DISPLAY: block; PADDING-LEFT: 10px; PADDING-BOTTOM: 0px; COLOR: #000066; PADDING-TOP: 0px; BORDER-BOTTOM: #cccccc 1px dotted
}
#sectionLinks A:hover {
	BACKGROUND-COLOR: #fcca07
	}
#PressLinks A:hover {
	BACKGROUND-IMAGE: url(http://www.floridadisaster.org/images/PDF_BG.jpg);
}
#sectionTopLinks A:hover {
	BACKGROUND-COLOR: #fcca07

	
}
.relatedLinks {
	PADDING-LEFT: 10px; FONT-SIZE: 80%; PADDING-BOTTOM: 10px; MARGIN: 0px; PADDING-TOP: 0px
}
.relatedLinks A:link {
	DISPLAY: block
}
.relatedLinks A:visited {
	DISPLAY: block
}
#advert {
	PADDING-LEFT: 0px; PADDING-BOTTOM: 10px; PADDING-TOP: 30px
}
#advert IMG {
	DISPLAY: block
}
#headlines {
	PADDING-LEFT: 10px; FONT-SIZE: 80%; BACKGROUND-IMAGE: url(http://www.floridadisaster.org/images/btm_bglogo_grid_none.gif); PADDING-BOTTOM: 20px; MARGIN: 0px; BACKGROUND-REPEAT: no-repeat; BACKGROUND-COLOR: #ffffff;
}
#headlines P {
	PADDING-LEFT: 0px; PADDING-BOTTOM: 5px; PADDING-TOP: 5px
}
/*Tabbed Box for Weather Updates Watches Warnings and Advisories*/
#tablist{
padding: 3px 0;
margin-left: 0;
margin-bottom: 0;
margin-top: 0.1em;
font: bold 12px Verdana;
}

#tablist li{
list-style: none;
display: inline;
margin: 0;
}

#tablist li a{
padding: 3px 0.5em;
margin-left: 3px;
border: 1px solid #CCCCCC ;
border-bottom: none;
background: #F5F5F5;
}

#tablist li a:link, #tablist li a:visited{
color: navy;

}

#tablist li a.current{
background: white;
}

#tabcontentcontainer{
width: 100%;
/* Insert Optional Height definition here to give all the content a unified height */
padding: 0px;
border: 0px solid #CCCCCC ;

}

.tabcontent{
display:none;
}
/*Drop Shadow Box*/

.shiftcontainer{
position: relative;
left: 5px; /*Number should match -left shadow depth below*/
top: 5px; /*Number should match -top shadow depth below*/
}

.shadowcontainer{
width: 100%; /* container width*/
background-color: #EEEEEE ;
}

.shadowcontainer .innerdiv{
/* Add container height here if desired */
background-color: white;
border: 1px solid #CCCCCC;
padding: 6px;
position: relative;
left: -5px; /*shadow depth*/
top: -5px; /*shadow depth*/
}

/* Preapre and Stay Aware Text */
.style21 {color: #00FF00}
.style70 {font-style: italic}
.style78 {color: #666666}
.style71 {color: #999999}
.style79 {	color: #003399;
	font-weight: bold;
	font-size: 18px;
	font-style: italic;
}
/* Red Text */
.style80 {color: #FF0000}
.image{
	border-style: solid;
	border-color: grey;
	border-width:1px;
      }

.quote{
	border-style:groove;
	border-color:navy;
	border-width:15px;
      }

